{% extends "base.html" %}
{% load i18n foundry_tags %}

{% block content %}

    <div class="content member-detail">
        {% profile_blurb user %}
        <div class="title">{% blocktrans %}Inbox{% endblocktrans %}</div>
        {% if object_list %}
            <table>
               <tr>
                   <th width="20%">{% blocktrans %}From{% endblocktrans %}</th><th>{% blocktrans %}Message{% endblocktrans %}</th><th width="20%">{% blocktrans %}Date / Time{% endblocktrans %}</th>
               </tr>
               {% for object in object_list %}
                   <tr {% ifequal object.state 'sent' %}class="unread"{% else %}class="read"{% endifequal %}>
                       <td><a href="{% url member-detail object.from_member.username %}">{{ object.from_member.username|truncatewords:10 }}</a></td>
                       <td><a href="{% url message-view object.id %}">{{ object.message }}</a></td>
                       <td>{{ object.created }}</td>
                   </tr>
               {% endfor %}
            </table>
        {% else %}
            {% blocktrans %}You have no mail yet, {% endblocktrans %}<a href="{% url message-send %}">{% blocktrans %}send some{% endblocktrans %}</a>.
        {% endif %}
    </div>  
    
{% endblock %}