{% extends "base.html" %}
{% load i18n foundry_tags %}

{% block content %}
	<div class="content member-detail">
	
		{% if is_self %}
		    {% profile_blurb user %}
		{% else %}
		    <img src="{{ object.get_thumbnail_LAYER_url }}" />
			<div class="title">{{ object.username }}</div>
			{% if object.about_me %}
			    <p>{{ object.about_me }}</p>
			{% endif %}
			<div class="meta">
			    {% if can_friend %}
			       <div class="friend">
			           <a href="{% url friend-request object.id %}">{% trans "Send friend request" %}</a>
			       </div>
			    {% endif %}
		    </div>            
		{% endif %}
	
	    <div class="title">Comments</div>
	
	    <table>
	        <tr class="total-comments">
	            <th>{% trans "Total comments" %}</th>            
	            <td>{{ object.number_of_comments }}</td>
	        </tr>
	        <tr class="recent-comments">
	            <th>{% trans "Recent comments" %}</th>            
	            <td>
	                {% for comment in object.last_5_comments %}
	                    <div>
	                        <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.comment|truncatewords:20 }}</a>
	                    </div>
	                {% endfor %}
	            </td>
	        </tr>
	
	    </table>
	    
	    {% if not is_self %}
	        {% with form_name='frmDirectMessage' submit='Send' %}
	            {% include "foundry/includes/form.html" %}
	        {% endwith %}
	    {% endif %}
	
	</div>
{% endblock content %}
