{% load i18n %}

{% if suggested_friends %}
	<div class="friend-finder">
	    <div class="title">{% blocktrans %}Suggested friends:{% endblocktrans %}</div>
	    <div class="items">
	    {% for friend in suggested_friends %}
	        <div class="item {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
	            <a href="{{ friend.get_absolute_url }}">
	                <img src="{{ friend.get_thumbnail_LAYER_url }}" class="left" />
	            </a>
	            <div class="title">
	                <a href="{{ friend.get_absolute_url }}">{{ friend.username }}</a>
	            </div>
	            <div class="meta">
	                <a href="{% url friend-request friend.id %}">{% blocktrans %}Friend{% endblocktrans %}</a>
	            </div>
	        </div>
	    {% endfor %}
	    </div>
	</div>
{% endif %}